= form_for @folder do |f|
  %p
    = f.text_field :name
    = f.hidden_field :parent_id, value: @folder.parent_id # security risk. Find out how to stop this and do it the Rails 4 way
  %p
  - if @folder.new_record?
    = f.submit 'Create Folder'
  - else
    = f.submit 'Rename Folder'