.asset_details
	.file_name
		= link_to asset.file_name, download_asset_url(asset)
	.file_size
		= asset.uploaded_file_file_size
	.file_last_updated
		= asset.uploaded_file_updated_at
	.actions
		.download
			= link_to 'Download', download_asset_url(asset)
		.delete
			= link_to 'Share'