.header_wrapper
	.logo
		=link_to 'ShareBox', root_url

.login_user_status
	- if user_signed_in?
		#menu
			%ul#top_menu
				%li= current_user.name
				%li= link_to 'Upload', new_asset_path
				%li= link_to 'sign out', destroy_user_session_path, method: :delete
				%li= link_to 'My assets', assets_path
				%li= link_to 'Sign Out'
	- else
		.em
			Not Signed In.
		= link_to 'Sign in', new_user_session_path
		or
		= link_to 'Sign up', new_user_registration_path